* {
    box-sizing: border-box;
  }

.jumbotron {
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

.container {
    display: flex;
    justify-content: space-between;
}

.navbar {
    display: flex;
    width: 100vw;
    margin-left: 5px;
    margin-right: 20px;
}

.login {
    display: flex;
    justify-content: space-between
}