* {
    box-sizing: border-box;
  }

.jumbotron {
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

.container {
    display: flex;
    justify-content: space-between;
}

.navbar {
    display: flex;
    width: 100vw;
    margin-left: 5px;
    margin-right: 20px;
}

.login {
    display: flex;
    justify-content: space-between
}

.all-products {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-right: 20px;
}

.search-add {
    display: flex;
    justify-content: space-between
}

.search {
    flex: 1;
    width: 100vw
}

.form-control {
    width: 25%
}

.add-product {
    flex: 2;
}

.list-group-item {
    display: flex;
    justify-content: space-around;
}

.add-product-row {
    width: 100%;
}
.add-product-col {
    display: flex;
    justify-content: space-around
}
